h1{color:lightslategray;
    background:black;
    font-size: 40px;
    text-align: center;
    width: 300;
    align-items:lift;
    }
    p{
        color:crimson;
    }
    .box{
        background-image: url("/home/keemaya/Desktop/shubhangi.html/niki.png" );
        padding: 100px;
        margin: 100px;
    }
.contactinfo
{
    
}