/* h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body
{
    background-color: lightblue;
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh; */
/* }
.container
{ 
    position: relative;
    width:100%;
    max-width:1000px;
    min-height:100px;
    background:#fff;
    grid-template-columns: ;
}
position:relative;
background:#003147;
padding:40px; */

/* .container.right_side
{
    position: relative;
    width:100%;
    max-width:1000px;
    min-height:100px;
    background:

} */

h1{background: lightblue;
    width: 400px;
    text-align: center;
    height:300px}